body {
    background-color: #98a9e0;
    color: #00030a;

}

#appTitle {
    text-align: center;
    margin: 40px auto;
    display: block;
    font-family: 'Rubik Dirt', sans-serif;
    font-size: 70px;
    width: 100%;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One',sans-serif;


}

#movieTitle, #movieOverview {
    padding: 32px;
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #B97828;
    color: #fdc238;
    cursor:  pointer;

}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns, #starRating {
    text-align: center;
    margin: 0px auto;
}

#likeBtn, #dislikeBtn{
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.starRating{
    width: 20%;
    height: 30px;
    font-size: 25px ;
    color: #99820e;

}

#likeBtn {
    background-color: #249e57;
    color: darkgreen;
}

#dislikeBtn {
    background-color: #c74a4a;
    color: #910000;
}

img#moviePoster {
    width:  70%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText {
    font-family: 'Questrial', sans-serif;
    color: #FEFBEA;
    line-height: 1.25;

}


#movieInfo {
    width: 70%;
    margin: 32px auto;
}
#movieInfo:after {
    content: "";
    display: table;
    clear: both;
}

#moviePoster, #movieText {
    width: 30%;

    float: left;

}

#movieText {
    width: 70%;
}

img#moviePoster {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#likedMovies {

    list-style-type: none;
    padding: 0;
    display: inline-flex;
    float: left;
    max-width: 95vw;
    overflow-x: auto;

}

#titleAndRating {
    display: inline-flex;
    width: 100%;

}

#movieTitle {
    width: 70%;
    padding: 0;
    padding-left: 32px;
    margin: 0;
    font-size: 25px;

}

#ratingHeader {
    list-style-type: none;
    display: inline-flex;
    float: none;
    color: #00030a;
    width: 30%;
    margin: 0;
    padding: initial;
    font-size: 32px;

}



#likeMoviesList {

   
}

li {
    float: left;
    margin: auto;
    box-sizing: border-box;
    width: 200px;
    height: 380px;
    padding: 2px;
    display: compact;
}

li img {
    text-align: center;
    padding: 16px;
    padding-bottom: 0;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    height: 300px;

}



.logoTmdb {
    text-align: center;
    height: 30px;
    width: 55%;
    padding: 0;
    margin-left: 0px;
    border-radius: 0px;




}

.miniPoster {
    font-size: 0;


}

.miniPosterBottom {
    display: flex;
    width: 164px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 16px;
    background-color: white;


}

.movieRating {
    padding-left: 10px;
    width: 25%;
    height: 30px;
    font-size: 25px;
    float: right;
    text-align: right;
    font-family: 'Questrial', sans-serif;
    padding-top: 0px;
}

hr {
    margin-top: 50px;
    border: 3px #65afd7;
    border-style: revert;
    border-radius: 3px;
}

h2 {
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Questrial', sans-serif;
    color: #FEFBEA;
    line-height: 1.25;

}





